/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
 input.pv-gdpr, textarea.pv-gdpr {
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    width: 100%;
} 
.gdpr-form-actions button {
    background: #000;
    border: 0px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0px;
}
.gdpr-form-actions h3 {
    margin: 20px 0px;
}
.invisible {
    display: none;
}
/* .site-content { */
    /* float: none; */
    /* width: 100%; */
    /* max-width: 1180px; */
    /* margin: 30px auto; */
/* } */
.cc-window.cc-banner {
    background: #fff!important;
    opacity: 0.95;
    width: 75% !important;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    display: inline-block;
    text-align: left !important;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    box-shadow: 0px 0px 20px #A1A1A1;
    -webkit-box-shadow: 0px 0px 20px #A1A1A1;
    -moz-box-shadow: 0px 0px 20px #A1A1A1;
    -o-box-shadow: 0px 0px 20px #A1A1A1;
}
.cc-banner .cc-message {
    color: #888 !important;
    font-size: 14px !important;
}
span.cc-message h4 {
    color: #444;
    margin-bottom: 10px;
}
a.cc-btn.cc-dismiss {
    background: #f63!important;
    border: 1px solid #f63!important;
    color: #fff;
    margin-top: 30px;
	max-width: 120px;
	box-sizing: border-box;
}
a.cc-btn.cc-deny {
    background: #373737!important;
    border: 1px solid #373737!important;
    margin-top: 30px;
    max-width: 120px;
	box-sizing: border-box;
}
a.cc-btn.cc-dismiss:hover {
    background: #fe7040!important;
} 
a.cc-btn.cc-deny:hover{ 
	text-decoration:none!important;
}
.zsiq_floatmain, .zsiq_custommain,.zsiq_custommain.siq_bR{
    z-index: 99!important;	
}
div#zsiq_float {
    z-index: 999!important;
}
div.cc-window {
    background: #fff!important;
}
div.cc-window .cc-message {
    color: #888 !important;
}
div.cc-window .cc-message a {
    color: #888!important;
	font-size: inherit; 
}