/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .cf7-db-table th {
    background: #000;
    color: #fff;
    font-size: 14px;
}
table.cf7-db-table td div {
    font-size: 16px;
}
.cf7-db-table {
    max-width: none;
    width: 100%;
}